{% extends 'maApp/main.html' %}
{% load static from staticfiles %}

{% block title %}确认支付{% endblock title %}

{% block linkscript %}
    <link rel="stylesheet" href="../../static/css/fords.css">
{% endblock linkscript %}
{% block center %}
<div class="fords-title">确认支付</div>
<div class="fords-middle" style="height:290px;">
    <form action="/page1/" method="POST">
        {% csrf_token %}
        <h4 style="line-height:150px"><input type="checkbox" name="money" value="{{ price }}">收取费用：{{ price }}元</h4>
        <input type="submit" class="btn btn-primary pull-right" value="去支付" />
    </form>
</div>
{% endblock %}